div{
    text-align: center;
    padding: 0px;
}

.flex-container{
    padding-top: 20px;
}

h3{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: coral;
}

button{
    width: 50%;
    margin: 2px;
}

button:hover{
    background: red;
    border-color: red;
}

select{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}