<p>displaypage works!</p>
<p>list works!we are now testing sanity</p>
<h1>
    Brewerie <h1>
      

<p >the id of the 1st meal is as follows {{theId}}</p>
<p *ngIf="theId">{{theId}}</p>
<p *ngIf="theId" (click)="countClick1()">{{theinstructionstocook}}</p>
<h1>here is the image you get></h1>
<img src={{theimagesyouuse}} alt="Smiley face">
<p *ngIf="theId">{{the1stingrediant}}</p>
<p *ngIf="theId">{{the2stingrediant}}</p>
<p *ngIf="theId">{{the3stingrediant}}</p>
<p *ngIf="theId">{{the4stingrediant}}</p>
<p *ngIf="theId">{{the5stingrediant}}</p>
<p *ngIf="theId">{{the6stingrediant}}</p>
<p *ngIf="theId">{{the7stingrediant}}</p>
<p *ngIf="theId">{{the8stingrediant}}</p>
<p *ngIf="theId">{{theId}}</p>


<p >the id of the 2nd meal is as follows {{theId1}}</p>

<p *ngIf="theId" (click)="countClick2()">{{theinstructionstocook1}}</p>
<h1>here is the image you get></h1>
<img src={{theimagesyouuse1}} alt="Smiley face">
<p *ngIf="theId">{{the1stingrediant1}}</p>
<p *ngIf="theId">{{the2stingrediant1}}</p>
<p *ngIf="theId">{{the3stingrediant1}}</p>
<p *ngIf="theId">{{the4stingrediant1}}</p>
<p *ngIf="theId">{{the5stingrediant1}}</p>
<p *ngIf="theId">{{the6stingrediant1}}</p>
<p *ngIf="theId">{{the7stingrediant1}}</p>
<p *ngIf="theId">{{the8stingrediant1}}</p>
<p *ngIf="theId">{{theId1}}</p>

<p >the id of the 3rd meal is as follows {{theId1}}</p>

<p *ngIf="theId" (click)="countClick3()">{{theinstructionstocook2}}</p>
<h1>here is the image you get></h1>
<img src={{theimagesyouuse2}} alt="Smiley face">
<p *ngIf="theId">{{the1stingrediant2}}</p>
<p *ngIf="theId">{{the2stingrediant2}}</p>
<p *ngIf="theId">{{the3stingrediant2}}</p>
<p *ngIf="theId">{{the4stingrediant2}}</p>
<p *ngIf="theId">{{the5stingrediant2}}</p>
<p *ngIf="theId">{{the6stingrediant2}}</p>
<p *ngIf="theId">{{the7stingrediant2}}</p>
<p *ngIf="theId">{{the8stingrediant2}}</p>
<p *ngIf="theId">{{theId2}}</p>
<div>
        <br>Here is the exmaple of property binding
    <input type="text" [(ngModel)]="rname">
            <br>{{rname}}
            
    </div>
    <span (click)="countClick()">
            this is the click function thta you will be using
            
            </span>
