<!--The content below is only a placeholder and can be replaced.-->
                                                                                       
<h2>Here are some links to help you start: </h2>

<header>
<div class="container">
<a href="#">coolapp</a>
<nav>

<li>

    <a href="#" routerLink="/">Home</a>

</li>
<li>    

    <a href="#" routerLink="/list">Breweries</a>

</li>
<li>    

    <a href="#" routerLink="/realhome">realHome</a>

</li>
<li>    

    <a href="#" routerLink="/DisplaypageComponent">displaythefavourites</a>

</li>
<li>    

    <a href="#" routerLink="/RecipeSearchPageComponent">RecipeSearchPageComponent</a>

</li>
</nav>
</div>



</header>
<div class="container">


<router-outlet></router-outlet>
</div>